/* style_assistenza.css */

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3498db;
    color: #333; 
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    max-width: 600px;
}

h2 {
    color: #fff;
}

.faq {
    margin-top: 20px;
}

details {
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: 50px; 
    transition: max-height 0.5s ease;
}

summary {
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 12px; /* Aggiunto per rendere il bottone tondeggiante */
}

summary:hover {
    background-color: #45a049;
}

p {
    margin: 0;
    padding: 15px; 
    opacity: 0;
    transition: opacity 0.5s ease; 
}

details[open] {
    max-height: 200px; 
    transition: max-height 0.5s ease; 
}

details[open] p {
    opacity: 1;
    transition: opacity 0.5s ease; 
}

a {
    text-decoration: none;
    color: #ffffff; 
    border-radius: 12px; /* Aggiunto per rendere il link tondeggiante */
    padding: 10px 20px; /* Aggiunto spazio intorno al testo */
    background-color: #4c5053; /* Colore del link */
    transition: background-color 0.7s ease;
    display: inline-block; /* Per centrare il testo orizzontalmente */
}

a:hover {
    text-decoration: underline;
    background-color: #f3f3f3; /* Cambiato colore al passaggio del mouse */
}
