body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3498db;
    color: #fff;
}

.container {
    width: 80%;
    max-width: 400px;
}

h2 {
    color: #fff;
}

p {
    color: #fff;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 15px 0;
    font-size: 18px;
    background-color: #4CAF50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #45a049;
}
body {
    background-image: url('libreria.jpg');
    background-size: cover; /* Per coprire l'intera area del corpo */
    background-position: center; /* Posiziona l'immagine al centro */
}
