body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3498db;
    color: #fff;
}

.container {
    width: 80%;
    max-width: 600px;
}

h2 {
    color: #fff;
}

.book-list {
    list-style: none;
    padding: 0;
}

.book-list li {
    background-color: #cc7c7c;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.book-list li:hover {
    background-color: #ad7a7a;
}

.button-container {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.cancel {
    background-color: #e74c3c;
}

.cancel:hover {
    background-color: #c0392b;
}
