body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #3498db;
    color: #fff;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    color: #fff;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

input, select {
    width: calc(100% - 22px); /* Considera il padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 14px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.table-container {
    overflow: hidden;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
}

th, td {
    border: 1px solid #fff;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: #fff;
}

.lista-libri {
    list-style-type: none;
    padding: 0;
}

.lista-libri li {
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
